data/hwdb/
devices/
driver-candidates/
inf-matches/
driver-evidence/
driver-package-metadata/
source/*
!source/hwdata/
source/hwdata/*
!source/hwdata/pci.ids
!source/hwdata/usb.ids
!source/hwdata/pnp.ids
!source/hwdata/README
!source/hwdata/LICENSE
!source/hwdata/COPYING
!source/alsa-ucm-conf/
source/alsa-ucm-conf/*
!source/alsa-ucm-conf/USB-Audio.conf
!source/alsa-ucm-conf/LICENSE
!source/alsa-ucm-conf/VERSION
!source/alsa-ucm-conf/SOURCE.json
